@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.navbar img {
  height: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-image {
  background-image: url("../../public/background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

h1 {
  color: #fffada;
  font-size: 4rem;
  margin-bottom: 20px;
  padding-top: 20px;
}

p {
  color: #fffada;
  font-size: 1rem;
  margin-top: 10px;
  padding-top: 10px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 100px;
}

.drink-button {
  background: linear-gradient(45deg, #a0583c, #c08267);
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.drink-button:hover {
  background: linear-gradient(45deg, #c08267, #a0583c);
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fffada;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: sticky;
}

/* Responsive design */
@media (max-width: 768px) {
  .text-xl-center {
    font-size: 1.5rem;
  }

  .drink-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
